$primary-blue: #002147;
$accent-blue: #0C5CB8;
$light-blue: #e0f2fe;
$secondary-light-blue:#E9F4FF;
$dark-navy: #0f172a;
$text-dark: #002147;
$text-dark-secondary: #18181F;
$text-gray: #64748b;
$white: #ffffff;
$main-bg: #F9FCFF;
$secondary-bg: #EDF3FA;
$light-gray: #f8fafc;
$border-light: #e2e8f0;
$success-green: #10b981;
$error-red: #ef4444;